/*		About Section 		*/
	.about .features_list {
		text-align: center;
		margin: 0;
	}

	.about .features_list ul li{
		text-indent: 0;
		background: transparent!important;
		margin-bottom: 20px;
	}

	.about .features_list ul li:last-child{
		margin: 0;
	}

	a.app_link{
		display: block;
		margin-top: 20px;
	}






	/*		Subscription section 		*/
	.sub_box #mc-email,
	.sub_box #mc_submit{
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	.sub_box #mc_submit{
		margin-top: 20px;
	}
}
